{% extends "layouts/base.html" %}
{% load static i18n %}



{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}

    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}

    {% trans 'Change password' %} /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}
<div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <h5 class="m-b-10">{% trans 'Password change' %}</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="javascript:">{% trans 'Password change' %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">{% trans 'Your password was changed.' %}</h5>
                </div>
                <div class="card-body">
                    <a href="{% url 'admin:index' %}" class="btn btn-fill btn-primary">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
        notification.info("<p class='{{ direction.panel }}'>" + "{% trans 'Your password was changed.' %}" + "</p>", 'top', '{{ direction.notify }}');
    </script>
{% endblock %}
